
svg{
    background-color: #fff; 
    padding: 10px;
}
div.HeatMap, div.sankey, div.documents
{
    
    background:#fff;
    margin:10px;
    padding:10px;
    float:left;
    display: contents;
    width: 700;
    height: 300;
}
div.sankey
{
  background:#fff;
  margin:10px;
  
  padding:10px 10px 50px 50px;
  float:right;
  display: block;
  width: 700;
  height: 300;
}

.cell:hover{
    fill: black;
}

div.relative {
  position: relative;
  left: 30px;
  }


div.tooltip {
  position: absolute;
  text-align: left;
  background-color: #FFE4E1;
  width: 100px;
  min-height: 40px;
  padding: 2px;
  font: 10px  sans-serif ;
  font-weight: bold;
  border: 1px solid darkblue;
  border-radius: 8px;
  pointer-events: none; /* keep the mouseover when over the tooltip */
}


.hide{
  display:block;
}

g{
    color: #000
}

#tooltip{
    visibility: hidden;
    height: auto;
    width: auto;
    margin-top: 2px;
    text-align: left;
    color: #000;
    font-size: 10px;
}

.legend{
    color: #000;
    font-size: 12px;
    stroke-width: 2;
   /* text-align: center;*/
   /* min-height: 200px;*/
}
.legend1 
{
  font-size:  8px;

}
rect {
  stroke-width: 2;
}

#title{
    font-size: 28px;
    color: #163D57;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items:  center;
}
.node rect {
  cursor: move;
  fill-opacity: .3;
  shape-rendering: crispEdges;
}

.node text {
  font: 8px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: green;
  stroke-opacity: .1;
}

.link:hover {
  stroke-opacity: .4;
}
