<div class="header">
	<span class="logo">DeepPhe-Viz | </span> <span class="current_patient">Cohort Analysis</span>
	</div>

	<div class="main">

	<!-- Filters -->
		<div class="filters clearfix">
		<div id="stage_patient_count" class="cohort_chart"></div>
		<div id="stage_patient_age" class="cohort_chart"></div>
		<div id="biomarkers_overview"></div>
		<div id="patients_with_biomarkers"></div>
		

	</div>


	<!-- Results -->
	<div class="results clearfix">
		<div id="results_title"></div>
		
		
		<div id ="sankey" class="relative"></div>
		<div id="HeatMap" class="relative"> </div>
		<div id="HeatMap1" class="relative"> </div>
		<div id="diagnosis"></div>
		<div id="patients"></div>
		<button id="myBtn">Submit</button>
		<div id="myModal" class="modal">

  		<!-- Modal content -->
  		<div class="modal-content">
    	<span class="close">&times;</span>
    	<textarea id="msg" name="msg" placeholder="Write your answer ..." style="height:100px"></textarea>
    	
    	<input type="button" id="next" onclick="location.href='http://localhost:8383/';" value="Next Task" />
    	<input type="button" id="bt" value="Save " onclick="saveFile()" />
    
  		</div>

		</div>
	</div>
</div>

	<script type="text/javascript">
	const baseUri = '{{baseUri}}';

	showCohort();
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
let saveFile = () => {
      
        // Get the data from each element on the form.
        const msg = document.getElementById('msg');
        
        // This variable stores all the data.
        let data = 
            '\r  Message: ' + msg.value;
        
        // Convert the text to BLOB.
        const textToBLOB = new Blob([data], { type: 'text/plain' });
        const sFileName = 'task.txt';    // The file to save the data.

        let newLink = document.createElement("a");
        newLink.download = sFileName;

        if (window.webkitURL != null) {
            newLink.href = window.webkitURL.createObjectURL(textToBLOB);
        }
        else {
            newLink.href = window.URL.createObjectURL(textToBLOB);
            newLink.style.display = "none";
            document.body.appendChild(newLink);
        }

        newLink.click(); 
    }
</script>
<style>
#myBtn
{
	position:static;
	margin-bottom: 70%;
	margin-top: 20%;
	background-color: #D66061; 
  	border: none;
	color: white;
  	padding: 10px 30px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	cursor: pointer;
  	font-size:15px;
  	border-radius: 12px; 
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

{
  box-sizing: border-box;
 }
  div 
  {
  	padding: 10px;
  	overflow: hidden;
   }
   input[type=text], textarea, select 
  {
      font: 17px Calibri;
      width: 98%;
      float: left;
       padding: 12px;
       border: 1px solid #ccc;
       border-radius: 4px;
       margin-bottom: 20px;
   }
input[type=button]{

            font: 20px ;
            width: auto;
            height: auto;
            position: relative;
            float: right;
            margin-left: 20px;
            cursor: pointer;
            padding: 20px;
            position:relative;
			background-color: #667292; 
  			border: none;
			color: white;
  			text-align: center;
  			text-decoration: none;
  	display: inline-block;
  	cursor: pointer;
  	font-size:15px;
  	border-radius: 12px; 
        }
</style>