
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>DeepPhe-Viz</title>
<div class="header">
	<span class="logo">DeepPhe-Viz | </span> <span class="current_patient">Cohort DeepPhe</span>
	</div>

<script src="js/d3.v5.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/4.2.0/d3.min.js"></script>
<script src="js/jquery-3.1.1.min.js"></script>
<!--<script scr="js/jqueryUI-v1.11.4.js"></script>-->
<!--<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>-->
<script src="https://unpkg.com/d3-sankey@0.7"></script>
<script src="/js/cohort.js"></script>
 <script src="/js/d3-sankey.js"></script>

<link rel="stylesheet" type="text/css" href="/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/css/deepphe.css">
<link rel="stylesheet" type="text/css" href="/css/HeatMapstyle.css"> 
<style>

.container {
  height: 80px;
  position: relative;
  border: 3px #D66061;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button {
  background-color: #667292; 
  border: white;
  color: white;
  padding: 10px 550px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size:15px;
  border-radius: 10px;
  
  
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
a {
color: blue;
}
a:link {
color: #cc0000;
}
a:visited {
color: #999999;
}
a:hover {
color: grey;
}

h2 {
    color:#069;
}


</style>
</head>
<body>
	<h2 style="text-align: center;">Welcome To DeepPhe-Viz tool for Cancer Cohort identification</h2>
	<h2 style="text-align: center;" style="font-size: 30px" style="color: #069"> List of Tasks</h2>
<ul> 
	<button class= "button" onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')" type="button"><span> Task 1</span></button>
	<ol>
  		<a onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')"  style= "font-size:15px"><li>How many patients are in the cohort?</li></a>
  		<a onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')"  style= "font-size:15px"><li>What is the range of ages at first encounter in the cohort?</li></a>
 		<a onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')"  style= "font-size:15px"><li>What is the percentage of the patients with biomarkers in the cohort?</li></a>
 		<a onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')"  style= "font-size:15px"><li>The label prevalence chart shows the distribution of documents types during each month of a patient’s treatment. The overall number of months in this view will give an indication of the length of treatment for the patient with the longest time span in the cohort. What are the start and end months for this timespan?</li></a>

	</ol> </ul>

	<ul>
	<button class= "button" onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')" type="button"><span> Task 2</span></button>
	<ol>

		<a onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')"  style= "font-size:15px"><li>How many patients with stage 2 diagnosis?</li></a>
		<a onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')"  style= "font-size:15px"><li>How many patients in the cohort were between 30 and 40 years old at the time of their first encounter? </li></a>
		<a onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')"  style= "font-size:15px"><li>From the diagnosis chart, how many patients have a diagnosis of Epithelial Neoplasm? Name one of them?</li></a></ol> 
	</ul>

	<ul>
	<button class= "button" onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')" type="button"><span> Task 3</span></button>
		<ol>
		
		<a onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')"  style= "font-size:15px"><li>Find one or more patient with stage 0? What is the distribution of biomarkers found for those patients? </li></a>
		<a onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')"  style= "font-size:15px"><li>For one of the stages, no patients in the cohort have biomarkers. Which stage is this? Name one patient with this stage of cancer as their summary diagnosis?</li></a>
		<a onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')"  style= "font-size:15px"><li>Using the episode transition chart, find a patient who experienced a transition from a treatment episode to a medical decision-making episode. For that patient, what month and label have the highest term prevalence in the term prevalence chart?</li></a>
		<a onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')"  style= "font-size:15px"><li>In the term prevalence chart, for finding mentions in month 2, what is the highest number of documents (transition value) that have the episode sequence of pre-diagnostic to diagnostic in the episode transition chart?</li></a></ol>
	</ul>
		
	<ul>
	<button class= "button" onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')" type="button"><span> Task 4</span></button>
		<ol>
		
		<a onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')"  style= "font-size:15px"><li>From the term prevalence chart, find number of patient(s) with term prevalence of 6 of drug mentions in month 5? </li></a>

		<a onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')"  style= "font-size:15px"><li>From the episode transition chart, find number of patients who have the following sequence of episodes: </li></a>
		<ul> 
			<a onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')"  style= "font-size:15px"><li>treatment episode then follow-up? </li></a>
			<a onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')"  style= "font-size:15px"><li>follow-up then pre-diagnostic?  </li></a>
			<a onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')"  style= "font-size:15px"><li>Treatment then pre-diagnostic?  </li></a>
			<a onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')"  style= "font-size:15px"><li>Pre-diagnostic then diagnostic -> 	pre-diagnostic -> diagnostic -> pre-diagnostic -> diagnostic-> pre-diagnostic -> diagnostic ? </li></a></ul>
	</ol></ul>

	<ul>
		<button class= "button" onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')" type="button"><span> Task 5</span></button>
		<ol>
		
		<a onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')"  style= "font-size:15px"><li>Find a patient with treatment to follow-up episode sequence and transition value (path value) of 1 in the episode transition chart what are the primary tumors for that patient in the patient level view?
 		</li></a>
 		
		<a onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')"  style= "font-size:15px"><li>Using term prevalence chart, find a patient who has finding mentions in month 18. For that patient:</li></a>
		<ul>
		<a onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')"  style= "font-size:15px"><li>Find how many documents have a treatment episode?</li></a>
		<a onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')"  style= "font-size:15px"><li>What type of documents they are?</li></a>
		</ul>
		<a onclick="window.open('http://localhost:8383/cohortAnalysis','_blank')"  style= "font-size:15px"><li>How many surgical pathology reports for the patient with stage 2A and first encounter age between 30 and 36 and has finding mentions in month 2 and has episode sequence from diagnostic to medical decision making ?</li></a>

		</li></a>
		
	</ol></ul>
		

</body>

</html>
