<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>DeepPhe-Viz</title>

<script src="js/d3.v5.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/4.2.0/d3.min.js"></script>
<script src="js/jquery-3.1.1.min.js"></script>
<!--<script scr="js/jqueryUI-v1.11.4.js"></script>-->
<!--<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>-->
<script src="https://unpkg.com/d3-sankey@0.7"></script>
<script src="/js/cohort.js"></script>
 <script src="/js/d3-sankey.js"></script>

<link rel="stylesheet" type="text/css" href="/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/css/deepphe.css">
<link rel="stylesheet" type="text/css" href="/css/HeatMapstyle.css"> 

</head>

<main class="content">

	
{{! Every view gets inserted here }}
{{{content}}}
</main>

</html>